@import url('https://fonts.googleapis.com/css?family=Quicksand|Righteous');

* {
  font-family: 'Quicksand', sans-serif;
}

.header {
  margin: 0;
  padding: 0;
}
.event-name {
  text-align: center;
  margin: 0;
  padding: 2%;
}
.date {
  text-align: center;
}
.rsvp-link {
  max-width: 600px;
  margin: 2% auto;
}
.flex-container{
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  margin: 0 auto;
}
.stats > .on-the-list, .arrived, .capacity {
  flex-direction: row;
  text-align: center;
  font-size: 0.333em;
  background-color: rgba(255,255,255,1);
  padding-top: 2%;
}
.stats {
  font-size: 3em;
  text-align: center;
  background-color: rgba(245,245,245,.8);
  min-width: 80px;
  border-radius: 3px;
}
.add-person-container {
  margin: 0;
  padding: 0;
}
.add-person-form {
  max-width: 700px;
  margin: 0 auto;
}
.button-container {
  max-width: 500px;
  margin: 1% auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.add-a-person-button {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  background-color: rgb(26,188,156);
  border: none;
}
.add-button-label {
  text-align: center;
  padding-top: 2%;
}
.get-share-link {
  display: block;
  margin: 2% auto;
  background-color: rgb(26,188,156);
}
.add-person-header {
  text-align: center;
}
.person-container {
  max-width: 500px;
  margin: 1% auto;
  display: flex;
  border-radius: 5px;
}
.person {
  width: 100%;
  background-color:rgba(245,245,245,.8);
  max-height: 150px;
}
.name-about {
  display: inline-block;
  padding: 2%;
  vertical-align: middle;
  width: 50%;
}
.name {
  font-size: 1.5em;
  margin: 0;
  border-bottom: 1px dotted gray;
}
.about {
  padding: 0;
  margin: 0;
}
.guests-edit-delete {
  display: inline-block;
  width: 30%;
}
.guests {
  display: inline-block;
  vertical-align: middle;
  font-size: 2.5em;
  padding-left: 2%;
  height: 100%;
}
.edit {
  display: inline-block;
  height: 25px;
  width: 25px;
  cursor: pointer;
  padding-left: 2%;
  margin-left: 2px;
}
.delete {
  height: 25px;
  width: 25px;
  cursor: pointer;
  padding-left: 2%;
  display: inline-block;
}
.arrivals-container {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
}
.arrivals {
  font-size: 2.5em;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  padding-left: 1%;
}
.plus-button {
  display: inline-block;
  height: 25px;
  width: 25px;
  cursor: pointer;
  padding-left: 1%;
  margin-left: 2px;
}
.minus-button {
  height: 25px;
  width: 25px;
  cursor: pointer;
  padding-left: 1%;
  display: inline-block;
}
