.header {
  background-color: green;
  margin: 0;
  padding: 0;
}

.event-name {
  text-align: center;
  margin: 0;
  padding: 5%;
}

.flex-container{
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
}
.on-the-list {
  flex-direction: row;
}
.arrived {
  flex-direction: row;
}
.stats {
  text-align: center;
}
