@import url('https://fonts.googleapis.com/css?family=Quicksand|Righteous');

.event-landing-page {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
.rsvp-form {
  max-width: 700px;
  margin: 2% auto;
  padding: 2%;
  background-color:rgba(245,245,245,.8);
  height: 100%;
  border-radius: 5px;
}
.submit-button {
  display: block;
  margin: 0 auto;
  background-color: rgb(26,188,156);
  color: white;
}
.submit-button: hover {
  display: block;
  margin: 0 auto;
  background-color: rgb(22,178,146);
  color: white;
}
.brand-header {
  color: rgb(22,178,146);
  font-family: 'Righteous', sans-serif;
}
.thanks {
  text-align: center;
}
