@import url('https://fonts.googleapis.com/css?family=Quicksand|Righteous');

.home-title {
  text-align: center;
  margin-top: 10%;
  color: rgb(26,188,156);
  font-family: 'Righteous', sans-serif;
}

.home-sub-header {
  text-align: center;
}

.begin-event-button {
  margin: 3% auto 0 auto;
  display: block;
  background-color: rgb(26,188,156);
  color: white;
  border: none;
}

.link:hover {
  text-decoration: none;
}
.gif {
  max-width: 300px;
  max-height: 300px;
  margin: 2% auto;
  display: block;
}
